<section class="outer-container">
  <section class="inner-container">
    <div id="welcome">
      <header>
        <h1>Bitvestr</h1>
        <p>Helping you test your Bitcoin trading strategies!</p>
        <nav>
          <ul>
            <% if current_user %>
              <li><%= link_to 'Strategies', strategies_path %></li>
              <li><%= link_to 'Collaborations', strategy_collaborations_path %></li>
              <li><%= link_to 'Sign out', logout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Sign in', login_path %></li>
              <li><%= link_to 'Create an account', new_user_path %></li>
            <% end %>
          </ul>
        </nav>
      </header>
    </div>
  </section>
</section>