<%= form_for @strategy, url: @path, method: @method, html: {class: 'strategy'} do |f| %>
  <header>
    <% if @strategy.errors.any? %>
      <ul class="errors">
        <% @strategy.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="strategy">
      <div class="name">
        <%= f.label :name, 'What is the name of your crossover strategy?' %>
        <%= f.text_field :name %>
      </div>

      <div class="interval">
        <%= f.label :interval, "What is the interval of one tick?" %>
        <%= f.select :interval, options_for_select(@intervals, selected: f.object.interval) %>
      </div>
    </div>
  </header>

   <div class="indicators">
    <div class="buy parameter">
      <%= f.fields_for :indicators, @strategy.indicators[0] do |i| %>
        Buy when the price of Bitcoin is less than <%= render 'indicator_fields', f: i %>
      <% end %>
    </div>
    <div class="sell parameter">
      <%= f.fields_for :indicators, @strategy.indicators[1] do |i| %>
        Sell when the price of Bitcoin is greater than <%= render 'indicator_fields', f: i %>
      <% end %>
    </div>
  </div>

  <div class="buttons">
    <%= f.button "Save Momentum Strategy", class: 'green' %>
  </div>
<% end %>
