<section class="outer-container">
  <section class="inner-container">
    <div class="strategy momentum">
      <header>
        <h2><%= @strategy.name %></h2>
        <p>A <%= @strategy.classification.capitalize %> Strategy</p>
        <p class="nav">
          <%= link_to 'Edit', edit_strategy_momentum_path(@strategy) %>
          <%= link_to 'Delete', strategy_momentum_path(@strategy), method: :delete %>
        </p>
      </header>
  </section>
</section>

<section class="outer-container">
  <section class="inner-container">
    <div class="strategy momentum">
      <div class="legend">
        <p>
          <span class="indicator buy"></span>
          Buy when the <strong><%= Formula.display(@buy.name) %>(<span id="buy"><%= @buy.value.to_i %></span>)</strong> is less than the current value of Bitcoin.
        </p>
        <p>
          <span class="indicator sell"></span>
          Sell when the <strong><%= Formula.display(@sell.name) %>(<span id="sell"><%= @sell.value.to_i %></span>)</strong> is greater than the current value of Bitcoin.
        </p>
        <p>
          <span class="indicator both"></span>
          Both buy and sell conditions are met
        </p>
        <p>
          <span class="indicator none"></span>
          Neither sell or buy.
        </p>
      </div>
    </div>

    <div id="chart"></div>
  </section>
</section>

<section class="outer-container">
  <section class="inner-container">
    <% if @strategy.user == current_user %>
      <h3>Invite another user to view your trading strategy</h3>
      <div class="collaboration">
        <div class="collaborator">
          <%= form_for ['strategy', @collaborator] do |f| %>
            <%= f.hidden_field :strategy_id, value: @strategy.id %>
            <div class="field">
              <%= f.email_field :user, autocomplete: :off %>
              <%= f.label :user, "Email Adddress" %>
            </div>
            <div class="buttons">
              <%= f.button "Add collaborator", class: 'blue' %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </section>
</section>

<section class="outer-container red collaboration">
  <section class="inner-container">
    <ul class="errors"></ul>
  </section>
</section>

<section class="outer-container green collaboration">
  <section class="inner-container">
    <ul class="confirm"></ul>
  </section>
</section>

<script>
$(document).on('ready page:load', function() {
  var interval = parseInt($('#interval').text()),
      values = {
        'buy' : $('#sell').text(),
        'sell' : $('#buy').text(),
      };

  function getChart() {
    $.ajax({
      url: 'http://localhost:3000/ticks',
      method: 'get',
      dataType: 'json',
      data: {
        'type': 'momentum',
        'count': 60,
        'interval': '<%= @strategy.interval %>',
        'buy_calc': '<%= @sell.name %>',  'buy_range': values.buy,
        'sell_calc': '<%= @buy.name %>',  'sell_range': values.sell,
      }
    }).done(function(ticksJSON) {
      var ticksArr = getTicksArray( ticksJSON );
      google.setOnLoadCallback( drawGraph(ticksArr) );
    });
  };

  getChart();
});
</script>