<div id="strategy" class="crossover">
  <header>
    <h2><%= @strategy.name %></h2>
    <p>A <%= @strategy.classification.capitalize %> Strategy</p>
    <p class="nav">
      <%= link_to 'Edit', edit_strategy_momentum_path(@strategy) %>
      <%= link_to 'Delete', strategy_momentum_path(@strategy), method: :delete %>
    </p>
  </header>


  <div class="legend">
    <p>
      <span class="indicator buy"></span>
      Buy when the <strong><%= Formula.display(@buy.name) %>(<span id="buy"><%= @buy.value.to_i %></span>)</strong> is less than the current value of Bitcoin.
    </p>
    <p>
      <span class="indicator sell"></span>
      Sell when the <strong><%= Formula.display(@sell.name) %>(<span id="sell"><%= @sell.value.to_i %></span>)</strong> is greater than the current value of Bitcoin.
    </p>
    <p>
      <span class="indicator both"></span>
      Both buy and sell conditions are met
    </p>
    <p>
      <span class="indicator none"></span>
      Neither sell or buy.
    </p>
  </div>
</div>

<div id="chart"></div>

<script>
$(document).on('ready page:load', function() {
  var interval = parseInt($('#interval').text()),
      values = {
        'buy' : $('#sell').text(),
        'sell' : $('#buy').text(),
      };

  function getChart() {
    $.ajax({
      url: 'http://localhost:3000/ticks',
      method: 'get',
      dataType: 'json',
      data: {
        'type': 'momentum',
        'count': 60,
        'interval' 5,
        'buy_calc': '<%= @sell.name %>',   'buy_range': values.buy,
        'sell_calc': '<%= @buy.name %>',  'sell_range': values.sell,
      }
    }).done(function(ticksJSON) {
      var ticksArr = getTicksArray( ticksJSON );
      google.setOnLoadCallback( drawGraph(ticksArr) );
    });
  };

  getChart();
});
</script>