<div class="indicator">
  <%= f.hidden_field 'action', value: 'buy' %>

  <%= f.label :name, "Indicator Name" %>
  <%= f.text_field :name %>

  <%= f.label :value, "Value" %>
  <%= f.number_field :value, { min: 1, max: 500 } %>
</div>
