<section class="outer-container">
  <section class="inner-container">
    <div class="strategy crossover">
      <header>
        <h2><%= @strategy.name %></h2>
        <p>A <%= @strategy.classification.capitalize %> Strategy</p>
        <% if @strategy.user == current_user %>
          <p class="nav">
            <%= link_to 'Edit', edit_strategy_crossover_path(@strategy) %>
            <%= link_to 'Delete', strategy_crossover_path(@strategy), method: :delete %>
          </p>
        <% end %>
      </header>
    </div>
  </section>
</section>

<section class="outer-container">
  <section class="inner-container">
    <div class="strategy crossover">
      <div class="legend">
        <p>
          <span class="indicator buy"></span>
          Buy when <strong><%= Formula.display(@buy_low.name) %>(<span id="bl_range"><%= @buy_low.value.to_i %></span>)</strong> is less than the <strong><%= Formula.display(@buy_high.name) %>(<span id="bh_range"><%= @buy_high.value.to_i %></span>)</strong>
        </p>
        <p>
          <span class="indicator sell"></span>
          Sell when <strong><%= Formula.display(@sell_low.name) %>(<span id="sl_range"><%= @sell_low.value.to_i %></span>)</strong> is less than the <strong><%= Formula.display(@sell_high.name) %>(<span id="sh_range"><%= @sell_high.value.to_i %></span>)</strong>
        </p>
        <p>
          <span class="indicator both"></span>
          Both buy and sell conditions are met
        </p>
        <p>
          <span class="indicator none"></span>
          Neither sell or buy.
        </p>
      </div>
    </div>

    <div id="chart"></div>
  </section>
</section>

<section class="outer-container">
  <section class="inner-container">
    <% if @strategy.user == current_user %>
      <div class="collaboration">
        <div class="collaborator">
          <%= form_for ['strategy', @collaborator] do |f| %>
            <%= f.hidden_field :strategy_id, value: @strategy.id %>
            <div class="field">
              <%= f.email_field :user, autocomplete: :off %>
              <%= f.label :user, "Email Adddress" %>
            </div>
            <div class="buttons">
              <%= f.button "Add collaborator", class: 'blue' %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </section>
</section>

<section class="outer-container green collaboration">
  <section class="inner-container">
    <ul class="confirm"></ul>
  </section>
</section>

<section class="outer-container red collaboration">
  <section class="inner-container">
    <ul class="errors"></ul>
  </section>
</section>

<script>
$(document).on('ready page:load', function() {
  var interval = parseInt($('#interval').text()),
      values = {
        'buy_low' : $('#bl_range').text(),
        'buy_high' : $('#bh_range').text(),
        'sell_low' : $('#sl_range').text(),
        'sell_high' : $('#sh_range').text(),
      };

  function getChart() {
    $.ajax({
      url: 'http://localhost:3000/ticks',
      method: 'get',
      dataType: 'json',
      data: {
        'type': 'crossover',
        'count': 60,
        'interval': '<%= @strategy.interval %>',
        'b1_calc': '<%= @buy_low.name %>',   'b1_range': values.buy_low,
        'b2_calc': '<%= @buy_high.name %>',  'b2_range': values.buy_high,
        's1_calc': '<%= @sell_low.name %>',  's1_range': values.sell_low,
        's2_calc': '<%= @sell_high.name %>', 's2_range': values.sell_high
      }
    }).done(function(ticksJSON) {
      var ticksArr = getTicksArray( ticksJSON );
      google.setOnLoadCallback( drawGraph(ticksArr) );
    });
  };

  getChart();
});
</script>