<div id="strategy" class="momentum">
  <header>
    <h2><%= @strategy.name %></h2>
    <p>A <%= @strategy.classification.capitalize %> Strategy</p>
    <p class="nav">
      <%= link_to 'Edit', edit_strategy_crossover_path(@strategy) %>
      <%= link_to 'Delete', strategy_crossover_path(@strategy), method: :delete %>
    </p>
  </header>

  <div id="interval" style="display: none;">
    <%= @strategy.interval %>
  </div>

  <div class="legend">
    <p>
      <span class="indicator buy"></span>
      Buy when <strong><%= Formula.display(@buy_low.name) %>(<span id="bl_range"><%= @buy_low.value.to_i %></span>)</strong> is less than the <strong><%= Formula.display(@buy_high.name) %>(<span id="bh_range"><%= @buy_high.value.to_i %></span>)</strong>
    </p>
    <p>
      <span class="indicator sell"></span>
      Sell when <strong><%= Formula.display(@sell_low.name) %>(<span id="sl_range"><%= @sell_low.value.to_i %></span>)</strong> is less than the <strong><%= Formula.display(@sell_high.name) %>(<span id="sh_range"><%= @sell_high.value.to_i %></span>)</strong>
    </p>
    <p>
      <span class="indicator both"></span>
      Both buy and sell conditions are met
    </p>
    <p>
      <span class="indicator none"></span>
      Neither sell or buy.
    </p>
  </div>
</div>

<div id="chart"></div>

<script>
$(document).on('ready page:load', function() {
  var interval = parseInt($('#interval').text()),
      values = {
        'buy_low' : $('#bl_range').text(),
        'buy_high' : $('#bh_range').text(),
        'sell_low' : $('#sl_range').text(),
        'sell_high' : $('#sh_range').text(),
      };

  function getChart() {
    $.ajax({
      url: 'http://localhost:3000/ticks',
      method: 'get',
      dataType: 'json',
      data: {
        'type': 'crossover',
        'count': 60,
        'interval': interval,
        'b1_calc': '<%= @buy_low.name %>',   'b1_range': values.buy_low,
        'b2_calc': '<%= @buy_high.name %>',  'b2_range': values.buy_high,
        's1_calc': '<%= @sell_low.name %>',  's1_range': values.sell_low,
        's2_calc': '<%= @sell_high.name %>', 's2_range': values.sell_high
      }
    }).done(function(ticksJSON) {
      var ticksArr = getTicksArray( ticksJSON );
      google.setOnLoadCallback( drawGraph(ticksArr) );
    });
  };

  // spinning loading graphic
  // http://codepen.io/anon/pen/qdwxQj

  getChart();
});
</script>