<div id="strategy">
  <p>
    <h2><%= @strategy.name %></h2>
    <em>A <%= @strategy.classification.capitalize %> Strategy</em>
  </p>

  <p>
    <%= link_to 'Back', strategies_path %>
    <%= link_to 'Edit', edit_strategy_crossover_path(@strategy) %>
  </p>

  <div class="legend">
    <p>
      <span class="indicator buy"></span>
      Buy when the <strong><%= @buy_low.name %>(<%= @buy_low.value.to_i %>)</strong> is less than the <strong><%= @buy_high.name %>(<%= @buy_high.value.to_i %>)</strong>
    </p>

    <p>
      <span class="indicator sell"></span>
      Sell when the <strong><%= @sell_low.name %>(<%= @sell_low.value.to_i %>)</strong> is less than the <strong><%= @sell_high.name %>(<%= @sell_high.value.to_i %>)</strong>
    </p>
  </div>
</div>

<div id="chart"></div>
