<div id="strategy">
  <p>
    <h2><%= @strategy.name %></h2>
    <em>A <%= @strategy.classification.capitalize %> Strategy</em>
  </p>

  <p>
    <%= link_to 'Back', strategies_path %>
    <%= link_to 'Edit', edit_strategy_crossover_path(@strategy) %>
  </p>

  <div class="legend">
    <p>
      <span class="indicator buy"></span>
      Buy when the <strong><%= @buy_low.name %>(<span id="bl_range"><%= @buy_low.value.to_i %></span>)</strong> is less than the <strong><%= @buy_high.name %>(<span id="bh_range"><%= @buy_high.value.to_i %></span>)</strong>
    </p>

    <p>
      <span class="indicator sell"></span>
      Sell when the <strong><%= @sell_low.name %>(<span id="sl_range"><%= @sell_low.value.to_i %></span>)</strong> is less than the <strong><%= @sell_high.name %>(<span id="sh_range"><%= @sell_high.value.to_i %></span>)</strong>
    </p>

    <p>
      <span class="indicator none"></span>
      Neither sell or buy.
    </p>
  </div>
</div>

<div id="chart"></div>

<script>
$(document).on('ready page:load', function() {
  var values = {
    'buy_low' : $('#bl_range').text(),
    'buy_high' : $('#bh_range').text(),
    'sell_low' : $('#sl_range').text(),
    'sell_high' : $('#sh_range').text(),
  };

  function getChart() {
    $.ajax({
      url: 'http://localhost:3000/ticks',
      method: 'post',
      dataType: 'json',
      data: {
        'count': 100,
        'b1_calc': 'moving_avg',  'b1_range': values.buy_low,
        'b2_calc': 'moving_avg',  'b2_range': values.buy_high,
        's1_calc': 'moving_avg',  's1_range': values.sell_low,
        's2_calc': 'moving_avg',  's2_range': values.sell_high
      }
    }).done(function(ticksJSON) {
      var ticksArr = getTicksArray( ticksJSON );
      google.setOnLoadCallback( drawGraph(ticksArr) );
    });
  };

  getChart();
});
</script>