<div class="indicator">
  <label>
    <%= f.radio_button :action, true %>
    <span>Buy</span>
  </label>
  <label>
    <%= f.radio_button :action, false %>
    <span>Sell</span>
  </label>

  <%= f.label :name, "Indicator Name" %>
  <%= f.text_field :name %>

  <%= f.label :period, "Indicator Period in Ticks" %>
  <%= f.number_field :period, { min: 1, value: 1 } %>

  <%= f.label :comparison %>
  <%= f.select :comparison, @comparisons %>

  <%= f.label :value %>
  <%= f.text_field :value %>
</div>
