<div class="strategies">
  <h2>Your Investment Strategies</h2>

  <% if @strategies %>
    <ol class="strategies">
      <% @strategies.each do |strategy| %>
        <li class="strategy">
          <% if strategy.classification == 'crossover' %>
            <%= link_to strategy_crossover_path(strategy) do %>
              <div class="name"><%= strategy.name %></div>
              <div class="classification"><%= strategy.classification.capitalize %></div>
            <% end %>
          <% elsif strategy.classification == 'momentum' %>
            <%= link_to strategy_momentum_path(strategy) do %>
              <div class="name"><%= strategy.name %></div>
              <div class="classification"><%= strategy.classification.capitalize %></div>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ol>
  <% end %>
</div>

<% if current_user %>
  <%= link_to "New Crossover Strategy", new_strategy_crossover_path, class: 'button blue' %>
  <%= link_to "New Momentum Strategy", new_strategy_momentum_path, class: 'button blue' %>
<% end %>