<!DOCTYPE html>
<html>
<head>
  <title>Bitvestr</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,300italic,300,100italic,100,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://www.google.com/jsapi' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<body class="<%= controller_name %> <%= action_name %>">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "#{key}" %>
  <% end %>

  <% unless controller_name == 'welcome' && action_name == 'index' %>
    <header class="outer-container">
      <header class="inner-container">
        <%= link_to root_url do %>
          <h1>Bitvestr</h1>
        <% end %>

        <% if current_user %>
          <aside class="session">
            You are logged in as <strong><%= current_user.full_name %></strong>
          </aside>
        <% end %>

        <nav>
          <ul class="right">
            <% if current_user %>
              <li><%= link_to 'Strategies', strategies_path %></li>
              <li><%= link_to 'Collaborations', strategy_collaborations_path %></li>
              <li><%= link_to 'Sign out', logout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Sign in', login_path %></li>
              <li><%= link_to 'Create an account', new_user_path %></li>
            <% end %>
          </ul>
        </nav>
      </header>
    </header>
  <% end %>

  <section class="outer-container">
    <section class="inner-container">
      <%= yield %>
    </section>
  </section>

  <% unless controller_name == 'welcome' && action_name == 'index' %>
    <footer class="outer-container">
      <footer class="inner-container">
        © Lucas Zarnett &amp; Michael Fich 2015
      </footer>
    </footer>
  <% end %>
</body>
</html>
